{% extends 'base.html' %}



{% block content %}

{% include 'inc/_nav.html' %}

{% if request.user.is_authenticated %}
<form action="{% url 'home' %}" method="POST">
  {% csrf_token %}
  <div class="row px-4 py-3">
    <div class="col-auto  d-flex align-content-center flex-wrap">
      <button type="submit" class="btn btn-primary">Отправить сообщение</button>
    </div>
    <div class="form-group col d-flex align-content-center flex-wrap">
      {{ form.text }}
      <div class="invalid-feedback">
        {{ form.text.errors }}
      </div>
    </div>
  </div>
</form>
{% endif %}

{% for message in forum_messages %}
<div class="card">
  <div class="row g-0">
    <div class="col-md-1">
      <img src="https://stockinvest.us/storage/user_avatars/125139.jpg"  alt="..." style="height: 6rem">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ message.user }}</h5>
        <p class="card-text">{{ message.text }}</p>
        <p class="card-text"><small class="text-muted">{{ message.created_at }}</small></p>
      </div>
    </div>
  </div>
</div>
{% empty %}
Сообщений нет....(
{% endfor %}

{% endblock %}
