  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" style="font-size: 2rem" href="{% url 'home' %}">
        <img src="https://www.kodms.ru/files/ckeditor/2020/11/29/sm.png" alt="" width="60" height="60" class="d-inline-block align-text-center">
        Форум молодых мам
      </a>
      <span class="navbar-text">
        <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
      </span>
    </div>
  </nav>
